input{
    width: 25%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  input:focus {
    background-color: lightgreen;
  }

  button{
      padding:6px 10px;
      background-color: lightgray;
      font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  p{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-style: oblique;
  }

  h3{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }